@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato:wght@300&family=PT+Sans&family=Raleway:wght@300&family=Source+Sans+Pro&display=swap');* {
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

html, body {
  min-height: 100%;
  padding-top: 30px;
  overflow: scroll;
  height: 130vh;
  background-color: rgb(28, 23, 83);
}

body {
  background: radial-gradient(at top left, rgb(28, 23, 83) 20%, rgb(7, 6, 63) 100%);
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
  font-size: 25px;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.content{
  flex: 1;
}

.intro{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

nav {
  display:flex;
  grid-template-columns: 1fr 1fr;
  margin: 4px auto;
  flex:1.5;
  flex-wrap: wrap;
  border-radius: 15px;
  height: 50vh;
  padding-left: 50px;
  padding-top: 20px;
}

nav h1 {
    text-align: center;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border: 3px solid transparent;
  font-size: 20px;
}

/* CSS */
.navbutton {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbutton:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.navbutton:active {
  border-color: rgb(5, 21, 44);
  color: rgb(5, 21, 44);
  fill: rgb(5, 21, 44);
}
