.header {
  font-size: 40px;
  padding-top: 20px;
}

.container {
  display: grid;
}

.projects {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 100px;
}

.projects h3 {
  font-size: 20px;
  text-align: center;
}

.projects p {
  font-size: 15px;
  text-align: center;
}
