.temp {
  margin-top: 30px;
  /* height: 1200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  height: 300px;
  width: 300px;
  margin: 50px;
  background-color: grey;
}

.header {
  font-size: 40px;
  padding-top: 20px;
}

.container {
  display: grid;
}

.projects {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 100px;
}

.projects h3 {
  font-size: 20px;
  text-align: center;
}

.projects p {
  font-size: 15px;
  text-align: center;
}
